.layout {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;

  .counter {
    position: absolute;
    left: 8px;
    top: 6px;
    font-family: "Patrick Hand", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    @media screen and (min-width: 620px) {
      top: 24px;
      left: 32px;
      font-size: 32px;
    }
  }

  .button_Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 8px;
    top: 6px;

    button:last-child {
      margin-top: 12px;
    }
    @media screen and (min-width: 620px) {
      top: 24px;
      right: 32px;
    }
  }
}
