.basket {
  position: absolute;
  width: 225px;
  height: 100px;
  bottom: 10px;
  left: 20%;

  & > img {
    position: absolute;
    bottom: 0;
    z-index: 1;
  }

  .apple_wrapper {
    position: absolute;
    bottom: 92%;
    width: 80%;
    left: 10%;
    display: flex;
    justify-content: center;
    align-content: flex-end;
    flex-wrap: wrap-reverse;
  }
}
