.basket {
  position: absolute;
  bottom: 10px;
  left: 16px;
  width: 120px;
  height: 54px;
  @media screen and (min-width: 620px) {
    width: 200px;
    height: 100px;
    left: 20%;
  }

  & > img {
    position: absolute;
    bottom: 0;
    z-index: 1;
  }

  .apple_wrapper {
    position: absolute;
    bottom: 102%;
    width: 80%;
    left: 10%;
    display: flex;
    justify-content: center;
    align-content: flex-end;
    flex-wrap: wrap-reverse;

    @media screen and (min-width: 620px) {
      bottom: 88%;
    }
  }
}
