.apple {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: red;

  &.fall_transition {
    transition: top 400ms linear;
  }

  &.in_basket {
    position: relative;
    top: auto;
    left: auto;
  }
}
