.apple {
  position: absolute;
  display: flex;
  align-items: center;

  & > img {
    width: 14px;
    height: auto;

    @media screen and (min-width: 620px) {
      width: 18px;
    }
  }

  &.fall_transition {
    transition: top 600ms linear;
  }

  &.in_basket {
    position: relative;
  }
}
